* {
    main-bg:            #2C1F33B3;
    main-fg:            #EDCCFFE6;
    main-br:            #A364A0E6;
    main-ex:            #704974E6;
    select-bg:          #F0AAE880;
    select-fg:          #52294DE6;
}
